body {
  font-size: 16px;
  color: black;
}

.menu {
  margin-top: 80px;
  color: orange;
  font-size: 1.8em;
  text-transform: uppercase;
  text-shadow: 1px 1px #558ABB;
}

.container {
  align-content: center;
  background-color: #E7F7D5;
  padding: 20px;
  text-align: justify;
  border-left-style: solid;
  border-color: #A9C589;
  border-width: 4px;
  margin: 10px 10px 40px 20px;
}

.text-center {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.col-xs-12, .col-sm-12, .col-md-12 {
  margin-bottom: 20px;
}

.visible-xs {
  text-align: center;
  background: #caeac6;
  color: black !important;
}

.navbar {
  background: #caeac6;
  background:rgba(84,161,76,0.5);
}

.top {
  text-align: center;
  font-size: 0.9em;
}


.top a {
  color: #669b29;
}

.top a:hover {
  text-align: center;
  background-color: #da9132;
  color: white;
  text-decoration: none;
  padding: 2px;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
   border: 1.5px solid #669b29;
   background: #E7F7D5;
}

button.navbar-toggle a:hover {
   background: #E7F7D5;
}

.navbar-brand {
  color: #317929 !important;
}

#bs-example-navbar-collapse-1 a {
	color: black;
	margin: 1px solid white;
	margin-width: 1vw;
}

#bs-example-navbar-collapse-1 a:hover, #bs-example-navbar-collapse-1 a:focus {
	background: #e4f4e2;
}
